:root {
  --first-color: rgb(24, 45, 61);
  --second-color: rgb(166, 205, 111);
  --third-color: rgb(227, 106, 41);
}

body {
  background-color: var(--first-color);
  color: var(--second-color);
  font-family: Arial, Helvetica, sans-serif;
}

.title-section {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 1em;

}

.new-item-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1em;
  width: 100%;
}

.form-row .button {
  /* margin-left: 1em; */
  background-color: var(--first-color);
  color: var(--second-color);
  border-radius: 50%;
  aspect-ratio: 1;
  border: none;
  font-size: 2em;
}

.button-delete {
  background-color: red;
  color: white;
  margin-left: 1em;

}

.header {
  font-size: 2em;
  text-align: center;
}

.list {
  list-style: none;
  width: 95%;
  padding: 0em 0.5em;
}

.list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.container {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  font-family: Arial, Helvetica, sans-serif;
}

.char{
  line-height: 1;
  transition: 1s all ease-in-out;
  cursor: default;
  font-variation-settings: "wght" 100  !important;
  font-size: 24px;
}
.char:hover{
  color: var(--third-color);
  transition: 0.85s;
  font-variation-settings: "wght" 700 !important;
  font-size: 14;
}

#item {
  width: 85%;
  padding: 0.5em;
  font-size: 1em;
  background-color: var(--second-color);
  border: none;
  color: var(--first-color);

}

input:focus-visible {
  outline-color: transparent !important; 
}

.check-button {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: solid 2px var(--second-color);
  margin-top: 4px;
  margin-right: 6px;
  margin-left: 6px;
  transition: background-color 0.3s, border-color 0.3s;
}

.completed {
  text-decoration: line-through;
  text-decoration-color: var(--third-color);
}

.list-item.completed .check-button {
  border-color: var(--third-color);
  background-color: var(--third-color);
}

.delete-icon {
  align-self: flex-end;
}

.button-title {
  display: flex;
  justify-content: start;
}
